
.DS_Store
bin
.vs/Biblioteca-backend/xs/project-cache/Biblioteca-backend-Debug.json
.vs/Biblioteca-backend/xs/project-cache/Biblioteca-backend-Debug.json
.vs/Biblioteca-backend/xs/project-cache/Biblioteca-Tests-Debug.json
Biblioteca-backend/bin/Debug/netcoreapp3.1/Biblioteca-backend.pdb
